
/* Noto Sans KR */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"),
    url("~assets/fonts/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"),
    url("~assets/fonts/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"),
    url("~assets/fonts/NotoSansKR-Bold.woff") format("woff");
}
